<body class='d-flex flex-column h-100'>
  <main class='flex-shrink-0'>
    <div class='d-grid gap-2 row-gap-100 col-sm-7 mx-auto'>
      <a class='btn btn-primary btn-lg m-5 btn-mod' href='<%= url %>' type='button'><%= text %></a>
    </div>
    <div class='container-md main-container mb-5'>
      <!-- <div class='d-grid gap-2 row-gap-100 col-6 mx-auto mb-5'> -->