<!DOCTYPE html>
<html>
  <head>
    <% let title = project.name %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
</html>
