.btn-mod {
  --bs-btn-padding-y: 1rem;
}
.main-container, .camera, .photo {
  max-width: 750px;
}

.main-container-wide {
  max-width: 1200px;
}

.project-thumbnail {
  object-fit: cover;
  height: 250px;
/*  max-height: 250px;*/
  width: 100%;
}